<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>My Dashboard</title>
    <!-- imported jQuery: $ -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body style="padding: 3%; background-color: rgba(241, 247, 248, 0.433);">
 

    <input type=text size=5 id=user_input>

    <p id="ticker"></p>

    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    
    
    <div class="card shadow bg-white rounded-1" style="border: none;">
        <div class="card-header" style="background-color: white; border:none">
            <p style="font-weight: bold; font-size: large;">
            <img id="refreshBtn" src="https://img.icons8.com/ios-glyphs/30/000000/refresh--v2.png" onclick="fetchGraphJsonData()"/>
            Graph 1
            </p>
        </div> <!--CARD HEADER-->
        <div class="card-body">
            <div class="chart" id="bargraph"></div>           
        </div> <!--CARD BODY-->
    </div>          

    </br>
    <div class="card shadow bg-white rounded-1" style="border: none">
        <div class="card-header" style="background-color: white; border: none;">
            <p style="font-weight: bold; font-size: large;">
            <img id="refreshBtn" src="https://img.icons8.com/ios-glyphs/30/000000/refresh--v2.png" onclick="fetchGraphTwo()"/>
            Graph 2
        </p>
        </div> <!--CARD HEADER-->
        <div class="card-body">
            <div class="SignalChart" id="SignalChart" style="padding-right: 4%;">
        </div> <!--CARD BODY-->
    </div>

    <script>
        // Once Dom is created & elements are rendered then show plot.

        function plotGraph(jsonData){
            // update the plot, .react is recommended for updating existing plot as it's more efficient than .newPlot
            Plotly.react("bargraph", jsonData);
        }

        function fetchGraphJsonData(){
            console.log("sending request 1 to server");
            
            test = document.getElementById('user_input');
            console.log(test.value)
            $("#ticker").text(test.value);


            // jQuery.get( url [, data ] [, success ] [, dataType ] )
            $.get({url:"http://127.0.0.1:5000/fetchGraphJsonData",
                          data:null, 
                          success:function(response){
                              console.log("response received from server");
                              plotGraph(response); console.log("ploting graph");
                             }, dataType:"json"});
        }

        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        function plotGraphTwo(jsonData){
            // update the plot, .react is recommended for updating existing plot as it's more efficient than .newPlot
            Plotly.react("SignalChart", jsonData);
        }

        function fetchGraphTwo(){
            console.log("sending request 2 to server");
            
       
            // jQuery.get( url [, data ] [, success ] [, dataType ] )
            $.get({url:"http://127.0.0.1:5000/fetchGraph",
                          data:null, 
                          success:function(response){
                              console.log("response received from server");
                              plotGraphTwo(response); console.log("ploting graph");
                             }, dataType:"json"});
        }
    

        fetchGraphJsonData(); // inital page load graph
        fetchGraphTwo(); // inital page load graph 2


        // setInterval(fetchGraphJsonData, 5000); // update every 5 seconds 


        // Understand promise concepts <- Javascript

        // fetch('http://127.0.0.1:5000/fetchGraphJsonData')
        // .then(response => response.json())
        // .then(function(jsonData){
        //     console.log(jsonData);
        //     plotGraph(jsonData);
        // }());


    </script>
</body>
</html>


<!--<a href="https://icons8.com/icon/tovbiOioOGAO/refresh">Refresh icon by Icons8</a>-->